.section1 {
  grid-column: 1;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: start;
  padding-left: 1rem;
}

.section-3 {
  display: grid;
  font-size: 16px;
  grid-template-columns: 1fr;
  margin: 0;
  min-width: 100vh;
  grid-template-rows: 0.3fr 0.44fr 0.1fr 0.4fr 0.38fr;
}

.section-3 #select-lang {
  grid-row: 3;
}

.selectLang {
  display: grid;
  grid-template-columns: 12rem 1fr 1fr;
  max-height: 15.5rem;
  overflow: hidden;
  gap: 20px;
}

.selectLang .svgLangs {
  grid-column: 3;
  margin: auto;
}

.selectLang #lang-used {
  grid-column: 1;
  margin-left: 15px;
}

.search-box {
  width: 100%;
  margin: 0px auto 0;
  grid-column: 2;
  border-radius: 5px;
  padding: 10px;
  background-color: #e3e3e3;
  border: 1px solid rgba(0, 0, 0, 0.07);
  height: 13.4rem;
}

.row-box {
  display: flex;
  align-items: center;
  padding: 0px;
  height: 35px;
  justify-content: center;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 6px 6px 0px 0px;
  background-color: white;
}

.row-box input {
  flex: 1 1;
  height: 41px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: var(--bs-body-color);
  margin-left: 10px;
}

.row-box #search-lang-1 {
  border: 0;
  height: 21px;
  padding: 0;
  width: 7%;
  background: transparent;
  color: black;
}

.result-box {
  max-height: 9.9rem;
  max-width: 31.34rem;
  overflow-y: auto;
}

/* Estilizando o scrollbar para navegadores WebKit */
.result-box::-webkit-scrollbar {
  width: 8px;
}

.result-box::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Estilizando o scrollbar para navegadores que suportam o padrão CSS */
.result-box scrollbar {
  width: 8px;
}

.result-box scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.result-box .list-group {
  border-radius: 0;
}

.result-box .list-group #svg-plus {
  background: rgba(16, 55, 22, 0.05);
  border-radius: 17px;
}

.result-box ul {
  border-top: 1px solid #999;
  padding: 0;
}

.result-box ul li {
  list-style: none;
  cursor: pointer;
  border-radius: 0px 0px 0px 0px;
  padding: 7.4px 10px;
}

.result-box ul li:hover {
  background-color: #e9f3ff;
}

.result-box ul li svg:hover {
  cursor: pointer;
}

.result-box li svg {
  margin-right: 10px;
}

.search_select_box {
  max-width: 100%;
  padding: 8px;
}

.handleLang {
  padding: 10px;
  max-height: 13.4rem;
  max-width: 31.34rem;
  background-color: #e3e3e3;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.handleLang .list-group {
  border-radius: 0;
}

.handleLang .list-group #svg-minus {
  background: rgba(16, 55, 22, 0.05);
  border-radius: 17px;
}
.handleLang ul {
  max-height: 12rem;
  overflow-y: auto;
}

.handleLang ul li {
  list-style: none;
  cursor: pointer;
  border-radius: 0px 0px 0px 0px;
  padding: 7.4px 10px;
  gap: 13px;
}

.handleLang ul li:hover {
  background-color: #e9f3ff;
}

.handleLang ul li svg:hover {
  cursor: pointer;
}

/* Estilizando o scrollbar para navegadores WebKit */
.handleLang ul::-webkit-scrollbar {
  width: 8px;
}

.handleLang ul::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Estilizando o scrollbar para navegadores que suportam o padrão CSS */
.handleLang ul scrollbar {
  width: 8px;
}

.handleLang ul scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.handleLang ul li {
  list-style: none;
  cursor: pointer;
  border-radius: 0px 0px 0px 0px;
  padding: 5.4px 10px;
}

.delete-selected-lang {
  border: 0;
  outline: none;
  background-color: transparent;
}
