form {
  text-align: center;
  margin: 30px auto;
  width: 25rem;
}

form input {
  margin-bottom: 5px;
}

form input[type="button"] {
  margin-right: 10px;
}

form #create-date {
  margin-right: 10px;
}

form #nome-autor {
  width: 10rem;
}

form #btn-autor {
  height: 2.32rem;
  width: 3rem;
}

form #perc-autor {
  height: 2.32rem;
}

form #date-pb {
  text-align: center;
}

form #linguagem-l {
  gap: 10px;
  margin-bottom: 10px;
  display: grid;
}
form #botao-l {
  margin-left: 8px;
}
