body {
  background-color: #ebebeb;
  font-family: "Poppins", sans-serif;
}

.App {
  background-color: #f0eff4;
  display: grid;
  grid-template-areas: "h h" "n m";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  height: 100vh;
  width: 100vw;

  border: 1px solid rgba(16, 55, 22, 0.12);
  text-align: center;
  border-radius: 4px;
  padding: 20px 20px 20px 20px;
}

header {
  background-color: red;
  grid-area: h;
}

nav {
  background-color: green;
  grid-area: n;
}

main {
  background-color: blue;
  grid-area: m;
}

.btn {
  padding: 0;
  width: 7rem;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    background 0.3s;
  margin: 10px 0px 10px 20px;
}

.btn:hover {
  color: #fff;
  background-image: linear-gradient(to bottom, #23672e, #008a17);
}

.btn:focus {
  color: #fff;
  border-color: #008a17 !important;
  background-image: radial-gradient(#008a17, #23672e);
  box-shadow: 0 0 0 0.25rem rgba(0, 138, 23, 0.3) !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: #1a7c4f;
  border-color: #567e6c;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
}

.btn:focus-visible svg path {
  fill: #fff;
}

.btn svg {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}

.btn:hover svg {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}

.btn:hover svg path {
  fill: #fff;
}

.menuSection {
  display: flex;
  flex-direction: column;
  border-right: 3px solid rgba(16, 55, 22, 0.26);
}

.step-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  position: relative;
  margin-left: 15px;
}

.step-item span {
  text-align: justify;
  margin-left: 3px;
}

.step {
  margin-left: 4px;
}

.content {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-stage {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  width: 7rem;
  height: 35px;
  border: 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  border-color: #008a17 !important;
  background-image: linear-gradient(to bottom, #008a17, #23672e);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    transform 0.1s ease-in-out;
  transform: scale(1);
}

.btn-stage:hover {
  color: #fff;
  border-color: #008a17 !important;
  background-image: linear-gradient(to bottom, #00ab1e 2%, #23672e);
  transform: scale(1.05);
}

.btn-stage:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 138, 23, 0.3) !important;
}

.btnStage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Responsividade para computador */
@media only screen and (max-width: 820px) {
  .App {
    grid-template-areas: "h" "n" "m";
    grid-template-columns: 1fr;
  }

  .menuSection {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .step-item {
    display: grid;
    margin-top: 0px !important;
    position: relative;
    margin-left: 0px;
  }
}

/* Responsividade para tablet */

/* Responsividade para celular */
