form {
  text-align: center;
  margin: 30px auto;
  width: 25rem;
}

form input {
  margin-bottom: 5px;
}

form input[type="button"] {
  margin-right: 10px;
}

form #create-date {
  margin-right: 10px;
}

form #nome-autor {
  width: 10rem;
}

form #btn-autor {
  height: 2.34rem;
}

form #perc-autor {
  height: 2.35rem;
}

form #date-pb {
  text-align: center;
}

form #linguagens-l {
  gap: 10px;
  margin-bottom: 15px;
  display: grid;
}

form #botao-l {
  margin-left: 8px;
}

form #mostraAutor {
  background-color: #F8F9FA;
  width: 100%;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 4px;
  display: grid;
  gap: 15px;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  box-shadow: -3px 3px 26px -5px rgba(0,0,0,0.51);
  -webkit-box-shadow: -3px 3px 26px -5px rgba(0,0,0,0.51);
  -moz-box-shadow: -3px 3px 26px -5px rgba(0,0,0,0.51);
}

form #mostraAutor #nome{
  grid-column: 5/1;
}

form #mostraAutor #porcentagem{
  grid-column: 5;
}

form #mostraAutor #btn-del{
  width: 60px;
  grid-column: 6;
}




